03-silence-contract-monitor/full.json
{
  "updatedAt": "2026-03-04T00:06:35.369Z",
  "createdAt": "2026-03-04T00:02:51.018Z",
  "id": "6FsYIe3tYj0HfRY2",
  "name": "Silence Contract Monitor",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "e6c69dde-9f8d-4a78-9bc1-2a7b4ad6f0b1",
      "name": "Daily 6:30am PT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        256,
        552
      ]
    },
    {
      "parameters": {
        "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/users?onboarding_state=eq.complete&select=id,slack_user_id,email,assistant_name,assistant_emoji,organization_id,onboarding_state",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "6ee0a23a-dcc4-47a1-8f36-f3569f907180",
      "name": "Get Active Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        552
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/alert_history?alert_type_id=eq.silence_contract&created_at=gte.{{ new Date(Date.now() - 72*60*60*1000).toISOString() }}&select=user_id,entity_id,entity_name,severity,created_at",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "2e4f5e41-48d4-41f2-a7ee-117ad506a0c5",
      "name": "Get Recent Alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        552
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Combine users with their recent alerts\n// n8n splits array responses into individual items, so use .all()\nconst usersAll = $('Get Active Users').all().map(i => i.json);\nconst alertsAll = $('Get Recent Alerts').all().map(i => i.json);\n\n// Filter out empty items (from alwaysOutputData on empty response)\nconst users = usersAll.filter(u => u && u.id);\nconst alerts = alertsAll.filter(a => a && a.id);\n\n// Group recent alerts by user_id\nconst alertsByUser = {};\nfor (const a of alerts) {\n  if (!alertsByUser[a.user_id]) alertsByUser[a.user_id] = [];\n  alertsByUser[a.user_id].push(a);\n}\n\n// Output one item per active user\nconst output = [];\nfor (const user of users) {\n  if (user.onboarding_state !== 'complete') continue;\n  output.push({\n    json: {\n      userId: user.id,\n      slackUserId: user.slack_user_id,\n      email: user.email,\n      assistantName: user.assistant_name || 'Aria',\n      assistantEmoji: user.assistant_emoji || ':robot_face:',\n      organizationId: user.organization_id,\n      recentAlerts: alertsByUser[user.id] || []\n    }\n  });\n}\n\nif (output.length === 0) {\n  return [{ json: { skip: true, reason: 'No active users found' } }];\n}\n\nreturn output;\n"
      },
      "id": "5baece96-cb66-4638-8989-ac87dfddc093",
      "name": "Prepare User Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        552
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e7cb24fe-8c59-4c9c-a73b-dc134db0c6d4",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1152,
        552
      ]
    },
    {
      "parameters": {
        "jsCode": "const user = $input.first().json;\n\nif (user.skip) {\n  return [{ json: { ...user, monitorPrompt: '', skip: true } }];\n}\n\nconst prompt = `Check my accounts for engagement gaps. Which accounts with open opportunities have had no customer-facing activity (emails, meetings, or calls) in the past 5 or more days? Today's date is ${new Date().toISOString().split('T')[0]}.`;\n\nreturn [{\n  json: {\n    ...user,\n    monitorPrompt: prompt\n  }\n}];\n"
      },
      "id": "55d262e6-f06b-4c71-887c-9d5d7c2a4ee9",
      "name": "Build Monitor Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.monitorPrompt }}",
        "options": {
          "systemMessage": "You are a sales engagement monitor. Your job is to detect \"silence contracts\" \u2014 accounts where customer engagement has gone quiet.\n\nUsing the People.ai tools available to you, check the user's accounts for engagement gaps:\n1. Find the user's accounts that have open opportunities\n2. For each account, check the most recent customer-facing activity (emails, meetings, calls)\n3. Identify accounts where the last activity was more than 5 days ago\n\nClassify each silent account by severity:\n- \"info\" (5-9 days silent): Getting quiet\n- \"warning\" (10-20 days silent): Gone silent\n- \"critical\" (21+ days silent): Relationship at risk\n\nCRITICAL: You MUST end your response with a JSON code block containing your findings in this exact format:\n```json\n{\n  \"silent_accounts\": [\n    {\n      \"account_name\": \"Account Name\",\n      \"days_silent\": 14,\n      \"last_activity_date\": \"2026-02-17\",\n      \"last_activity_type\": \"email\",\n      \"severity\": \"warning\"\n    }\n  ]\n}\n```\nIf no accounts are silent (all had activity within the past 5 days), return:\n```json\n{\"silent_accounts\": []}\n```\n\nDo NOT include any text after the JSON code block.",
          "maxIterations": 15
        }
      },
      "id": "12543647-9a35-4de6-838d-75a1ccb60227",
      "name": "Silence Monitor Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1600,
        304
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "f1a1299c-a920-4be8-b659-8127c4909c7a",
      "name": "Anthropic Chat Model (Silence)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1608,
        528
      ]
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "id": "7b3a6936-8d09-4888-b2d2-7c0aac7f12b8",
      "name": "People.ai MCP (Silence)",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1736,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $('Silence Monitor Agent').first().json.output || '';\nconst userData = $('Build Monitor Prompt').first().json;\nconst recentAlerts = userData.recentAlerts || [];\n\n// Extract JSON from agent response\nlet silentAccounts = [];\nconst jsonMatch = agentOutput.match(/```json\\s*([\\s\\S]*?)\\s*```/);\nif (jsonMatch) {\n  try {\n    const parsed = JSON.parse(jsonMatch[1]);\n    silentAccounts = parsed.silent_accounts || [];\n  } catch (e) {\n    // If JSON parsing fails, try to extract from the full output\n    try {\n      const directParse = JSON.parse(agentOutput);\n      silentAccounts = directParse.silent_accounts || [];\n    } catch (e2) {\n      // Give up parsing\n    }\n  }\n}\n\n// Build set of recently alerted entities for cooldown check\nconst alertedSet = new Set();\nfor (const alert of recentAlerts) {\n  alertedSet.add(alert.entity_name.toLowerCase());\n}\n\n// Filter out already-alerted accounts\nconst newAlerts = silentAccounts.filter(a => {\n  return !alertedSet.has((a.account_name || '').toLowerCase());\n});\n\nreturn [{\n  json: {\n    ...userData,\n    allDetected: silentAccounts,\n    newAlerts: newAlerts,\n    detectedCount: silentAccounts.length,\n    newAlertCount: newAlerts.length\n  }\n}];\n"
      },
      "id": "9255d730-4fb6-4ca4-b3e2-6f132edcdc11",
      "name": "Parse & Dedup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst alerts = data.newAlerts || [];\n\nif (alerts.length === 0) {\n  return [{ json: { ...data, hasAlerts: false, alertText: '' } }];\n}\n\nconst severityEmoji = {\n  critical: ':red_circle:',\n  warning: ':large_orange_circle:',\n  info: ':large_blue_circle:'\n};\n\nconst severityLabel = {\n  critical: 'Relationship at risk',\n  warning: 'Gone silent',\n  info: 'Getting quiet'\n};\n\n// Sort: critical first, then warning, then info\nconst order = { critical: 0, warning: 1, info: 2 };\nalerts.sort((a, b) => (order[a.severity] || 9) - (order[b.severity] || 9));\n\nlet text = ':mag: *Silence Contract Alert*\\n\\n';\ntext += alerts.length === 1\n  ? '1 account needs attention:\\n\\n'\n  : `${alerts.length} accounts need attention:\\n\\n`;\n\nfor (const a of alerts) {\n  const emoji = severityEmoji[a.severity] || ':white_circle:';\n  const label = severityLabel[a.severity] || a.severity;\n  const lastType = a.last_activity_type || 'activity';\n  const lastDate = a.last_activity_date || 'unknown';\n  text += `${emoji} *${a.account_name}* \u2014 ${a.days_silent} days silent`;\n  if (lastDate !== 'unknown') {\n    text += ` (last: ${lastType} on ${lastDate})`;\n  }\n  text += `\\n_${label}_\\n\\n`;\n}\n\ntext += '_Reply to discuss any of these accounts, or type `silence off` to pause these alerts._';\n\nreturn [{ json: { ...data, hasAlerts: true, alertText: text } }];\n"
      },
      "id": "a055c05c-27b0-4b59-8174-b010adf90ca6",
      "name": "Build Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "bc980fc0-6d3e-4c82-8c9c-e352325017ed",
              "leftValue": "={{ $json.hasAlerts }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0b638a8a-874e-468a-8f96-bdd5c76f38ee",
      "name": "Has New Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        428
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/conversations.open",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ users: $json.slackUserId }) }}",
        "options": {}
      },
      "id": "84de7648-aebe-477b-978b-24fae0e823c8",
      "name": "Open Bot DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2624,
        428
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.channel.id, text: $(\"Build Alert Message\").first().json.alertText, username: $(\"Build Alert Message\").first().json.assistantName, icon_emoji: $(\"Build Alert Message\").first().json.assistantEmoji }) }}",
        "options": {}
      },
      "id": "e9ffd4f5-b206-4b6d-a0fc-6aede0e51ef5",
      "name": "Send Alert DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2848,
        428
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Build Alert Message').first().json;\nconst sendResult = $('Send Alert DM').first().json;\nconst alerts = data.newAlerts || [];\n\n// Build array of alert_history rows to insert\nconst rows = alerts.map(a => ({\n  alert_type_id: 'silence_contract',\n  user_id: data.userId,\n  organization_id: data.organizationId,\n  entity_type: 'account',\n  entity_id: a.account_name.toLowerCase().replace(/\\s+/g, '_'),\n  entity_name: a.account_name,\n  severity: a.severity,\n  title: `${a.account_name} \u2014 ${a.days_silent} days silent`,\n  body: data.alertText,\n  detection_data: {\n    days_silent: a.days_silent,\n    last_activity_date: a.last_activity_date,\n    last_activity_type: a.last_activity_type\n  },\n  delivered_at: new Date().toISOString(),\n  delivery_channel: 'slack',\n  slack_message_ts: sendResult.ts || null,\n  slack_channel_id: sendResult.channel || null,\n  status: 'delivered'\n}));\n\nreturn [{ json: { alertRows: rows } }];\n"
      },
      "id": "2143dfc1-0596-4fad-9599-9dab17fbc279",
      "name": "Prepare Alert Logs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        428
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/alert_history",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.alertRows) }}",
        "options": {}
      },
      "id": "d9f53e6d-840b-45df-9ea1-3e7b138f733e",
      "name": "Log Alerts to DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3296,
        500
      ]
    }
  ],
  "connections": {
    "Daily 6:30am PT": {
      "main": [
        [
          {
            "node": "Get Active Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Users": {
      "main": [
        [
          {
            "node": "Get Recent Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Alerts": {
      "main": [
        [
          {
            "node": "Prepare User Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare User Batch": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Build Monitor Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Monitor Prompt": {
      "main": [
        [
          {
            "node": "Silence Monitor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model (Silence)": {
      "ai_languageModel": [
        [
          {
            "node": "Silence Monitor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "People.ai MCP (Silence)": {
      "ai_tool": [
        [
          {
            "node": "Silence Monitor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Silence Monitor Agent": {
      "main": [
        [
          {
            "node": "Parse & Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Dedup": {
      "main": [
        [
          {
            "node": "Build Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert Message": {
      "main": [
        [
          {
            "node": "Has New Alerts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Alerts?": {
      "main": [
        [
          {
            "node": "Open Bot DM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Bot DM": {
      "main": [
        [
          {
            "node": "Send Alert DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert DM": {
      "main": [
        [
          {
            "node": "Prepare Alert Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Alert Logs": {
      "main": [
        [
          {
            "node": "Log Alerts to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Alerts to DB": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": null,
  "triggerCount": 1,
  "tags": []
}